<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.front.mapper.UserMapper">
    <resultMap id="userResult" type="com.front.pojo.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="status" property="status"/>
        <result column="role_id" property="roleId"/>
        <result column="last_login" property="lastLogin"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    
    <select id="findByPhoneAndPassword" resultMap="userResult">
        SELECT * FROM users
        WHERE phone = #{phone} AND password = #{encryptedPassword}
        AND status = 1
    </select>

    <update id="updateLastLogin" parameterType="com.front.pojo.User">
        UPDATE users
        SET last_login = #{loginTime}
        WHERE user_id = #{userId}
    </update>


</mapper>